@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: #ebebeb;
}

img {
    max-width: 80vw;
}


/* index */


/* Header */

header {
    background: #EAC926;
    margin-bottom: 10px;
}

header .top-bar {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header .top-bar .logo {
    width: 50%;
}

header .top-bar .search-bar {
    width: 50%;
    margin: auto;
    text-align: center;
}

header .top-bar .search-bar input {
    padding: 5px;
    border-radius: 5px;
}

header .top-bar .search-bar i {
    border: 1px #666 solid;
    background: white;
    padding: 4px;
    border-radius: 3px;
}

header .top-bar .header-message {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

header .navbar {
    display: none;
}

header .navbar ul {
    margin-top: 5px;
    margin-bottom: 10px;
    list-style: none;
}

header .navbar ul li a {
    text-decoration: none;
    color: black;
}

header .burger-menu i {
    border: 1px solid #03264C;
    border-radius: 5px;
    background: #03264C;
    color: white;
    padding: 5px;
}

header .burger-menu {
    text-align: center;
    padding-bottom: 10px;
}

header .banner-img img {
    display: block;
    width: 100vw;
    max-width: 100%;
}


/* Main */

main {
    width: 90vw;
    margin: auto;
    background: #ebebeb;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section .product {
    margin: 5px 0;
    background: white;
    padding: 15px;
}

main section .last-view,
.sale {
    width: 100%;
    margin: 10px 0;
}

main section img {
    width: 90%;
}

main section .last-view h2,
.sale h2 {
    font-size: 24px;
    color: #666;
}

main section .product .box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

main section .product .box i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: #39b54a 1px solid;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all .8s;
}

main section .product .box .precio {
    font-size: 18px;
    width: 30%;
}

main section .product .box .discount {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}

main section .product .box .description {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    display: none;
}

main .product .box {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}


/* Footer */

footer .pay,
.shipping,
.security {
    width: 70vw;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer .pay i,
.shipping i,
.security i {
    font-size: 2em;
    color: #1259c3;
    margin: 10px 0;
}

footer .pay h4,
.shipping h4,
.security h4 {
    color: #666;
    font-weight: 900;
}

footer .pay p,
.shipping p,
.security p {
    color: #666;
}

footer .copyright {
    color: #666;
    margin: 10px;
}


/* register.html */

main .register-form {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}

main .register-form form {
    width: 100%;
}

main .register-form .structure-form {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
}

main .register-form form .title-input {
    display: block;
    font-size: 16px;
    font-weight: 700;
    width: 90%;
    margin: 15px auto;
}

main .register-form form .radio {
    width: 90%;
    margin: auto;
}

main .register-form form .radio input {
    margin: 0 15px;
}

main .register-form form .checkbox {
    width: 90%;
    margin: auto;
}

main .register-form form .checkbox input {
    display: inline-block;
    margin: 10px 15px;
}

main .register-form form #photo-profile {
    display: inline-block;
    margin: 0 40px;
}

main .register-form .button-form {
    display: block;
    width: 90%;
    background: #1259c3;
    color: white;
    margin: 20px auto;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #1259c3;
}


/* login.html */

main .login-form {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

main .login-form form {
    width: 100%;
}

main .login-form .structure-2 {
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
}

main .login-form .button-form {
    display: block;
    width: 90%;
    background: #1259c3;
    color: white;
    margin: 20px auto;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #1259c3;
}


/* Media Queries */

@media (min-width: 481px) {
    header .top-bar .logo {
        width: 30vw;
    }
    header .top-bar .search-bar {
        width: 30vw;
        margin: auto 0;
    }
    header .top-bar .search-bar input {
        width: 70%;
    }
    header .top-bar .header-message {
        display: flex;
        width: 30vw;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    header .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 15px;
    }
    header .navbar .nav1,
    .nav2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    header .navbar .nav1 a,
    .nav2 a {
        margin: 0 5px;
    }
    header .burger-menu {
        display: none;
    }
    main .product {
        width: 45%;
    }
    main section .product .box .discount {
        text-align: right;
    }
    main section .product .box .description {
        display: block;
    }
}

@media (min-width: 769px) {
    /* index.html */
    header .navbar .nav1 a,
    .nav2 a {
        margin: 0 12px;
    }
    main section .product {
        width: 22%;
    }
    main section .product .box .description {
        display: none;
    }
    main section .product .box:hover .description {
        display: block;
    }
    main section .product:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section .product .box i:hover {
        transform: rotate(270deg);
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    footer .pay,
    .shipping,
    .security {
        width: 25%;
    }
    footer .copyright {
        width: 95%;
        margin: 20px auto;
    }
    footer .pay i:hover,
    .shipping i:hover,
    .security i:hover {
        color: rgb(68, 176, 209);
    }
    /* login.html */
    main .login-form form .button-form:hover {
        background: #0022AA;
    }
    /* register.html */
    main .register-form form .button-form:hover {
        background: #0022AA;
    }
}